@model IEnumerable<DepartmentVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-info">All Departments</h1>

<div class="my-5">
    <form asp-action="Index">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <input class="form-control" placeholder="Search....." name="SearchValue" />
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </form>

</div>

@{
    if(Model.Count()>0)
    {

        <center>
            <a class="btn btn-success" asp-action="Create">Create Department</a>
        </center>
        <div class="my-5">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x=>x.Name)</th>
                        <th>@Html.DisplayNameFor(x=>x.Code)</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th>Details</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Name</th>
                            <th>@item.Code</th>
                            <partial name="PartialView/ButtonsIndex" model="@item.id.ToString()">
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <center>
        <div class="alert alert-warning">
                
                <p class="alert alert-warning text-danger"> No Department Here</p>
                <a class="btn btn-success" asp-action="Create">Create Department</a>
             
        </div>

        </center>

    }
}